<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<link rel="icon" type="image/png" href="images/icon.png" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<!-- Framework base -->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/init.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery.mask.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
<script type="text/javascript" th:src="@{/js/plugins/chart/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/cookie/cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/moment/moment.js}"></script>
<title>Cadastrar Receita</title>
</head>

<section layout:fragment="conteudo">

	<nav class="nav-bar-educ">
		<div class="nav-wrapper container">
			SISTEMA DE NUTRIÇÃO EDUCACIONAL
			<ul class="right hide-on-med-and-down">
				<li><a href="#!name"><span
						th:text=" ${#httpServletRequest.remoteUser}"
						class="white-text name"> </span></a></li>
				<li><a href="#" data-activates="slide-out"
					class="circular button-collapse-minimalize"> <i
						class="material-icons">menu</i>
				</a></li>
			</ul>

			<a href="#" data-activates="slide-out" class="button-collapse"><i
				class="mdi-navigation-menu"></i></a>
			<ul id="slide-out" class="side-nav">
				<li><div class="user-view">
						<div class="background nav-bar-educ center">
							<img class="center" th:src="@{/images/logoEDUC-b.png}"
								style="margin: 3% 3% !important" />
						</div>
						<br />
						<br />
					</div></li>

				<li><a th:href="@{/produto/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_pizza</i>Produtos</a></li>
				<li><a th:href="@{/receita/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_dining</i>Receitas</a></li>
				<li><a th:href="@{/cardapio/listar}" class="color-educ"><i
						class=" material-icons color-orange">event_note</i>Cardápios</a></li>
				<li><a th:href="@{/programa/listar}" class="color-educ"><i
						class=" material-icons color-orange">extension</i>Programas</a></li>
				<li><a th:href="@{/escola/listar}" class="color-educ"><i
						class=" material-icons color-orange">domain</i>Escolas</a></li>
				<li><div class="divider"></div></li>
				<li>
					<div class="col s12">
						<form th:action="@{/appLogout}" method="POST">
							<input class="btn-login" type="submit" value="SAIR" />
						</form>
					</div>
				</li>
			</ul>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse">as</a>
	</nav>

	<div class="container " style="background: #567"
		layout:fragment="cadastroReceita">
		<div id="centro" class="col s12">
			<form class="backgroud-white" data-model="receita"
				th:action="@{/receita/cadastrar}" th:object="${receita}"
				th:method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{colesterol}" /> <input type="hidden"
					th:field="*{fibras}" /> <input type="hidden"
					th:field="*{lipidios}" /> <input type="hidden"
					th:field="*{proteinas}" /> <input type="hidden"
					th:field="*{carboidratos}" /> <input type="hidden"
					th:field="*{Ca}" /> <input type="hidden" th:field="*{Zn}" /> <input
					type="hidden" th:field="*{Fe}" /> <input type="hidden"
					th:field="*{K}" /> <input type="hidden" th:field="*{Na}" /> <input
					type="hidden" th:field="*{Mg}" /> <input type="hidden"
					th:field="*{A}" /> <input type="hidden" th:field="*{C}" />

				<div th:if="${produtos}">
					<input type="hidden" th:field="*{produtos}" />
				</div>
				<input type="hidden" th:field="*{itemsReceita}" /> <input
					type="hidden" th:field="*{statusReceita}" />
				<div class="card-content center">
					<h5 class="center title light"
						th:text="${acao == 'editar' ? 'EDITAR RECEITA' : 'CADASTRAR RECEITA'}"></h5> <br/><br/>
					<input type="hidden" th:field="*{id}" />
					<div class="row col s12 center ">
						<div class="col s12 m4 l3">
							<p></p>
						</div>
						<div class=" col s12 m4 l6  input-field">
							<input th:field="*{nome}" type="text" class="validate" id="nome"
								required="required" /> <label for="nome">Nome da
								receita</label>
						</div>

					</div>
					<div class="col s12 m4 l2">
						<a th:href="@{/receita/listar/}" type="button"
											class="color-educ white">CANCELAR</a>
						<button type="submit" class="waves-effect waves btn btn-login "  style="margin-left: 20px" >Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</section>

<script type="text/javascript">
	
</script>
</html>