<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="currentPage='receita'">

<head>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<link rel="icon" type="image/png" href="images/icon.png" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<!-- Framework base -->

<script type="text/javascript">
	$(document).ready(function() {
		$('#table_items').DataTable({

			"pageLength" : 6,
			"lengthChange" : false,
			"ordering" : true,
			"search" : false,
			"info" : false,
			"language" : {
				"paginate" : {
					"previous" : "Anterior",
					"next" : "Próximo",
					"No matching records found" : "Nada encontrado"
				}

			}
		});
	});
</script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}">
	
</script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/init.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery.mask.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
<script type="text/javascript" th:src="@{/js/plugins/chart/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/cookie/cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/moment/moment.js}"></script>
<title>Detalhes Receita</title>
</head>

<section layout:fragment="conteudo">


	<nav class="nav-bar-educ">
		<div class="nav-wrapper container">
		SISTEMA DE NUTRIÇÃO EDUCACIONAL
			<ul class="right hide-on-med-and-down">
				<li><a href="#!name"><span
						th:text=" ${#httpServletRequest.remoteUser}"
						class="white-text name"> </span></a></li>
				<li><a href="#" data-activates="slide-out"
					class="circular button-collapse-minimalize"> <i
						class="material-icons">menu</i>
				</a></li>
			</ul>

			<a href="#" data-activates="slide-out" class="button-collapse"><i
				class="mdi-navigation-menu"></i></a>
			<ul id="slide-out" class="side-nav">
				<li><div class="user-view">
						<div class="background nav-bar-educ center">
							<img class="center" th:src="@{/images/logoEDUC-b.png}"
								style="margin: 3% 3% !important" />
						</div>
						<br /> <br />
					</div></li>

				<li><a th:href="@{/produto/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_pizza</i>Produtos</a></li>
				<li><a th:href="@{/receita/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_dining</i>Receitas</a></li>
				<li><a th:href="@{/cardapio/listar}" class="color-educ"><i
						class=" material-icons color-orange">event_note</i>Cardápios</a></li>
				<li><a th:href="@{/programa/listar}" class="color-educ"><i
						class=" material-icons color-orange">extension</i>Programas</a></li>
				<li><a th:href="@{/escola/listar}" class="color-educ"><i
						class=" material-icons color-orange">domain</i>Escolas</a></li>
				<li><div class="divider"></div></li>
				<li>
					<div class="col s12 center">
						<form th:action="@{/appLogout}" method="POST">
							<input class="btn btn-login" type="submit" value="SAIR" />
						</form>
					</div>
				</li>
			</ul>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse">as</a>
	</nav>

	<div class="container">
		<div class="col s12">
			<div class="container">
				<div class="row col s12">
					<div class="card">
						<div class="card-content ">
							<span th:text="${receita.nome}" class="center card-title"></span>
							<div class="alimentos">
								<div class="row center" id="novoAlimento">
									<table id="table_items" class="display nowrap striped bordered"
										cellspacing="0" width="100%">

										<thead>
											<tr>
												<th>Nome do Alimento</th>
												<th>Quantidade utilizada</th>
												<th>Unidade de Medida</th>
												<th>Opções</th>
											</tr>
										</thead>
										<tbody class="table1">
											<tr th:each="produto:${produtos}" th:class="${produto}">
												<td th:text="${produto.nomeProduto}"></td>
												<td th:text="${produto.qtd_usada}"></td>
												<td th:text="${produto.unidadeMedida}"></td>
												<td>
													<!-- Modal Trigger --> <a
													class="btn-icon waves-effect tooltipped modal-trigger"
													href="#modal1"
													th:href="@{/receita/__${receita.id}__/produto/deletar/__${produto.id}__}"
													th:attr="data-tooltip=${'Deletar produto'}, data-target=${deleteDataTarget}, data-url=${editDataUrl}">
														<i class="material-icons btn-remover">delete</i>
												</a>
												</td>
											</tr>
										</tbody>
									</table>
									<a th:href="@{/receita/listar/}" type="button"
											class="color-educ white">VOLTAR</a>
									<a id="news"
										class="btn btn-login waves-effect modal-trigger tooltipped"
										data-position="left" data-delay="500" style="margin-left: 20px" 
										data-tooltip="Adicionar alimentos a essa receita" href="#modal1">ADICIONAR
										ALIMENTOS</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="modal1" class="modal">
				<div class="modal-content">
					<div class="col s6">
						<div th:replace="receita/adicionar_produtos_receita:: produtoadd"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<script type="text/javascript">
	
</script>
</html>