<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="currentPage='programa'">

<head>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<link rel="icon" type="image/png" href="images/icon.png"/>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/materialize.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<!-- Framework base -->

<script type="text/javascript">
	$(document).ready(function() {
		$('#table_items').DataTable({
			"bFilter" : false,
			"pageLength" : 6,
			"lengthChange" : false,
			"ordering" : true,
			"search" : false,
			"info" : false,
			"paging" : false,
			"language" : {
				"paginate" : {
					"previous" : "Anterior",
					"next" : "Próximo",
					"No matching records found" : "Nada encontrado"
				}

			}
		});
	});
</script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}">
	
</script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/init.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery.mask.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
<script type="text/javascript" th:src="@{/js/plugins/chart/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/cookie/cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/moment/moment.js}"></script>
<title>Detalhes Programa</title>
</head>

<section layout:fragment="conteudo">


	<nav class="light-blue lighten-1">
		<div class="nav-wrapper container">
			<a th:href="@{/}" class="brand-logo"> Início</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" data-activates="slide-out"
					class="circular button-collapse-minimalize"> <i
						class="material-icons">menu</i>
				</a></li>
			</ul>

			<a href="#" data-activates="slide-out" class="button-collapse"><i
				class="mdi-navigation-menu"></i></a>
			<ul id="slide-out" class="side-nav">
				<li><div class="user-view">
						<div class="background">
							<img th:src="@{/images/office.jpg}" />
						</div>
						<a href="#!name"><span
							th:text=" ${#httpServletRequest.remoteUser}"
							class="white-text name"> </span></a> <br />
					</div></li>
				<li><a th:href="@{/produto/listar}" class="light-blue-text"><i
						class=" material-icons">local_pizza</i>Produtos</a></li>
				<li><a th:href="@{/receita/listar}" class="light-blue-text"><i
						class=" material-icons">local_dining</i>Receitas</a></li>
				<li><a th:href="@{/cardapio/listar}" class="light-blue-text"><i
						class=" material-icons">event_note</i>Cardápios</a></li>
				<li><a th:href="@{/programa/listar}" class="light-blue-text"><i
						class=" material-icons">extension</i>Programas</a></li>
				<li><a th:href="@{/escola/listar}" class="light-blue-text"><i
						class=" material-icons">domain</i>Escolas</a></li>
				<li><div class="divider"></div></li>
				<li>
					<div class="col s12">
						<form th:action="@{/appLogout}" method="POST">
							<input class="button" type="submit" value="Sair" />
						</form>
					</div>
				</li>
			</ul>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse">as</a>
	</nav>

	<div class="container">
		<div class="col s12">
			<div class="container">
				<div class="row col s12">
					<div class="card">
						<div class="card-content ">
							<span th:text="${programa.nome}" class="center card-title"></span>
							<span th:text="${programa.qtd_alunos} + ' alunos'"
								class="center card-title"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container ">
		<div class="row col s8">
			<div class="card">
				<div class="card-content ">
					<div class="alimentos">
						<div class="row center" id="novoAlimento">
							<table id="table_items" class="display nowrap striped bordered"
								cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Nome</th>
										<th></th>
										<th></th>
										<th>Opções</th>
									</tr>
								</thead>
								<tbody class="table1">
									<tr th:each="cardapio:${cardapio}" th:class="${cardapio}">
										<td th:text="${cardapio.nome}"></td>
										<td></td>
										<td></td>

										<div th:unless="${cardapio?.nome}">
											<span class="light-blue "> | Insira o cardapio | </span>
										</div>
										<td>
											<div th:if="${cardapio?.nome}">
												<a class="btn-icon waves-effect tooltipped"
													th:href="@{/cardapio/escola/__${escola.id}__/programa/__${programa.id}__/cardapio/detalhes/__${cardapio.id}__}"
													th:attr="data-tooltip=${'Visualizar Cardapio'}, data-target=${editDataTarget}, data-url=${editDataUrl}">
													<i class="material-icons">info</i>
												</a>
												<!--Modal Trigger -->
												<a class="btn-icon waves-effect tooltipped modal-trigger"
													href="#modal1"
													th:href="@{/programa/deletar/__${programa.id}__/escola/__${escola.id}__/cardapio/__${cardapio.id}__}"
													th:attr="data-tooltip=${'Deletar cardapio'}, data-target=${deleteDataTarget}, data-url=${editDataUrl}">
													<i class="material-icons" style="color:red">delete</i>
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<br />
							<div th:unless="${cardapio?.nome}">
								<a id="news"
									class="btn-floating btn-large waves-effect light-blue right modal-trigger"
									href="#modal1"><i class="material-icons">add</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="modal1" class="modal">
		<div class="modal-content">
			<form data-model="cardapio"
				th:action="@{/programa/escola/__${escola.id}__/cardapio/adicionar}"
				th:object="${cardapio}" th:method="post">
				<input type="hidden" name="programa" th:value="${programa.id}" />
				<h5 class="title light">Adicionando Cardapios</h5>
				<div class="row">
					<div class="row center col s12 input-field">
						<select name="cardapio" id="cardapioObject">
							<option th:each="cardapio : ${cardapiosSelect}"
								th:value="${cardapio.id}" th:text="${cardapio.nome}"></option>
						</select> <label for="cardapioObject">Cardapio</label>
					</div>
				</div>
				<div class="row center">
					<button type="submit"
						class="waves-effect waves-light btn light-blue">Adicionar</button>
				</div>
				<br />
			</form>
		</div>
	</div>

</section>

<footer id="rodape" class="page-footer light-blue">

	<div class="footer-copyright">
		<div class="container">Sistema de nutrição da secretaria de
			educação de Quixeramobim-CE</div>
	</div>
</footer>
<script type="text/javascript">
	
</script>
</html>