<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="currentPage='programa'">

<head>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<link rel="icon" type="image/png" href="images/icon.png" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />

<!-- Framework base -->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/init.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#table_prods').DataTable({

			"pageLength" : 7,
			"lengthChange" : false,
			"ordering" : true,
			"search" : false,
			/* 		    	"info": false,
			 */"language" : {
				"paginate" : {
					"previous" : "Anterior",
					"next" : "Próximo"
				}

			}
		});
	});
</script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}">
	
</script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery.mask.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
<script type="text/javascript" th:src="@{/js/plugins/chart/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/cookie/cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/moment/moment.js}"></script>
<title>Lista de Programas</title>
</head>

<section layout:fragment="conteudo">

	<nav class="nav-bar-educ">
		<div class="nav-wrapper container">
			SISTEMA DE NUTRIÇÃO EDUCACIONAL
			<ul class="right hide-on-med-and-down">
				<li><a href="#!name"><span
						th:text=" ${#httpServletRequest.remoteUser}"
						class="white-text name"> </span></a></li>
				<li><a href="#" data-activates="slide-out"
					class="circular button-collapse-minimalize"> <i
						class="material-icons">menu</i>
				</a></li>
			</ul>

			<a href="#" data-activates="slide-out" class="button-collapse"><i
				class="mdi-navigation-menu"></i></a>
			<ul id="slide-out" class="side-nav">
				<li><div class="user-view">
						<div class="background nav-bar-educ center">
							<img class="center" th:src="@{/images/logoEDUC-b.png}"
								style="margin: 3% 3% !important" />
						</div>
						<br />
						<br />
					</div></li>

				<li><a th:href="@{/produto/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_pizza</i>Produtos</a></li>
				<li><a th:href="@{/receita/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_dining</i>Receitas</a></li>
				<li><a th:href="@{/cardapio/listar}" class="color-educ"><i
						class=" material-icons color-orange">event_note</i>Cardápios</a></li>
				<li><a th:href="@{/programa/listar}" class="color-educ"><i
						class=" material-icons color-orange">extension</i>Programas</a></li>
				<li><a th:href="@{/escola/listar}" class="color-educ"><i
						class=" material-icons color-orange">domain</i>Escolas</a></li>
				<li><div class="divider"></div></li>
				<li>
					<div class="col s12">
						<form th:action="@{/appLogout}" method="POST">
							<input class="btn-login" type="submit" value="SAIR" />
						</form>
					</div>
				</li>
			</ul>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse">as</a>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Programas</h5>
						<span class="boldtable-datatables blue-grey-text"
							th:if="${#lists.isEmpty(programas)}">Nenhum Programa
							Cadastrado</span>
						<table id="table_prods" th:unless="${#lists.isEmpty(programas)}">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Telefone</th>
									<th>Quantidade de alunos</th>
									<th>Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="programa:${programas}">
									<td th:text="${programa.nome}"></td>
									<td th:text="${programa.telefone}"></td>
									<td th:text="${programa.qtd_alunos}"></td>
									<td>
										<div th:if="${programa.editavel}">
											<!-- th:if="${programa.editavel}"> -->
											<a class="btn-icon waves-effect tooltipped"
												th:href="@{/programa/editar/__${programa.id}__}"
												th:attr="data-tooltip=${'Editar Programa'}, data-target=${editDataTarget}, data-url=${editDataUrl}">
												<i class="material-icons" style="color: green">edit</i>
											</a>
											<!-- Modal Trigger -->
											<a class="btn-icon waves-effect tooltipped modal-trigger"
												href="#modal1"
												th:href="@{/programa/deletar/__${programa.id}__}"
												th:attr="data-tooltip=${'Deletar Programa'}, data-target=${deleteDataTarget}, data-url=${editDataUrl}">
												<i class="material-icons color-orange">delete</i>
											</a>
										</div>
										<div th:if="${not programa.editavel}">
											<a class="btn-icon waves-effect tooltipped"
												th:href="@{/programa/editar/__${programa.id}__}"
												th:attr="data-tooltip=${'Editar Programa'}, data-target=${editDataTarget}, data-url=${editDataUrl}">
												<i class="material-icons left color-orange">edit</i>
											</a> <a class="btn-icon tooltipped"
												data-tooltip="Não é possível remover o programa!"> <i
												class="material-icons left" style="color: grey">not_interested</i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="card-action right-align">

							<div class="action-btn">
								<a class="btn btn-login tooltipped"
									th:href="@{/programa/cadastrar}" data-position="left"
									data-delay="500" data-tooltip="Novo Programa">NOVO </a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- Modal excluir seleção -->
	<div id="excluir-selecao" class="modal">
		<div class="modal-content">
			<h4>Excluir programa</h4>
			<p>Tem certeza de que deseja excluir esse programa?</p>
		</div>
		<div class="modal-footer">
			<a id="confirm-excluir" th:href="${removeAtt}"
				class="modal-action waves-effect waves-light btn red">Excluir</a> <a
				href="#!"
				class="modal-action modal-close waves-effect waves-green btn-flat purple-text white">Cancelar</a>
		</div>
	</div>
</section>
</html>
