/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


.button{
  width:100px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

.form-cad{
	background-color:#fafafa  !important;
}

.nav-bar-educ{
	background-color:#072866 !important;
}

.btn-login{
	background-color:#072866 !important;
	text-color: red;
}

.color-educ{
	color: #072866 !important;
}

.color-orange{
	color: #f47d35 !important;
}

