/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}
/* just for jsfiddle */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:#2288bb !important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }
    .indicators{
  	visibility: hidden;
  }
body{
  background:;
  font-family:'Open Sans',sans-serif;
}

.dataTables_paginate {
  float: left;
  text-align: left;
  padding-top: 0.25em;
}
.button{
  width:100px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.btn-remover{
	color: red !important;
}

.button:hover{
  background:#2288bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#072866;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

.btn-login{
	background-color:#072866 !important;
	text-color: red;
}

.color-educ{
	color: #072866 !important;
}

.color-orange{
	color: #f47d35 !important;
}

.backgroud-white{
	background-color:white !important;
}

.nav-bar-educ{
	background-color:#072866 !important;
}
.center{
  text-align: center;
}
form{
  background:#f0f0f0;
  padding:6% 4%;
}

input[type="text"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}
 
 
.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #ffffff;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #ffffff;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  background-color: #80ffff;
}

.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}

 
 .modal-content { width: 100% !important ; height: 10% !important ; }
.select-dropdown.dropdown-content li:hover {
  background-color: #00ffff;
}
 #centro {
    top:50%;
    left:50%;
    margin-top:150px;
    margin-left:-50px;
}
 #centro2 {
    top:50%;
    left:50%;
    margin-top:60px;
    margin-left:-50px;
}
main {
    flex: 1 0 auto;
  }
#rodape {
position: absolute;
bottom: 0;

text-align: center;
width: 100%;
}

.page-footer{
	bottom: 0px
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.footerC {
    position:absolute;
    bottom:0;
    width:100%;
}
