<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="currentPage='produto'">

<head>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<link rel="icon" type="image/png" href="images/icon.png" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/buttons.dataTables.min.css}" />

<!-- Framework base -->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/init.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery-2.1.1.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#table_prods').DataTable({

			"pageLength" : 7,
			"lengthChange" : false,
			"ordering" : true,
			"search" : false,
			/* 		    	"info": false,
			 */"language" : {
				"paginate" : {
					"previous" : "Anterior",
					"next" : "Próximo"
				}

			}
		});
	});
</script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}">
	
</script>
<script type="text/javascript"
	th:src="@{/js/plugins/jquery/jquery.mask.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
<script type="text/javascript" th:src="@{/js/plugins/chart/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/cookie/cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/moment/moment.js}"></script>
<title>Lista de Produtos</title>
</head>

<section layout:fragment="conteudo">

	<nav class="nav-bar-educ">
		<div class="nav-wrapper container">
			<ul class="right hide-on-med-and-down">
				<li><a href="#!name"><span
						th:text=" ${#httpServletRequest.remoteUser}"
						class="white-text name"> </span></a></li>
				<li><a href="#" data-activates="slide-out"
					class="circular button-collapse-minimalize"> <i
						class="material-icons">menu</i>
				</a></li>
			</ul>

			<a href="#" data-activates="slide-out" class="button-collapse"><i
				class="mdi-navigation-menu"></i></a>
			<ul id="slide-out" class="side-nav">
				<li><div class="user-view">
						<div class="background nav-bar-educ center">
							<img class="center" th:src="@{/images/logoEDUC-b.png}"
								style="margin: 3% 3% !important" />
						</div>
						<br />
						<br />
					</div></li>

				<li><a th:href="@{/produto/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_pizza</i>Produtos</a></li>
				<li><a th:href="@{/receita/listar}" class="color-educ"><i
						class=" material-icons color-orange">local_dining</i>Receitas</a></li>
				<li><a th:href="@{/cardapio/listar}" class="color-educ"><i
						class=" material-icons color-orange">event_note</i>Cardápios</a></li>
				<li><a th:href="@{/programa/listar}" class="color-educ"><i
						class=" material-icons color-orange">extension</i>Programas</a></li>
				<li><a th:href="@{/escola/listar}" class="color-educ"><i
						class=" material-icons color-orange">domain</i>Escolas</a></li>
				<li><div class="divider"></div></li>
				<li>
					<div class="col s12">
						<form th:action="@{/appLogout}" method="POST">
							<input class="btn-login" type="submit" value="SAIR" />
						</form>
					</div>
				</li>
			</ul>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse">as</a>
	</nav>

	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<h5 class="title light">Produtos</h5>
					<span class="boldtable-datatables blue-grey-text"
						th:if="${#lists.isEmpty(produtos)}">Nenhum Produto
						Cadastrado</span>
					<table class="table bordered" id="table_prods" th:unless="${#lists.isEmpty(produtos)}">
						<thead>
							<tr>
								<th>U.M.</th>
								<th>Nome</th>
								<th>Valor</th>
								<th>Qtd</th>
								<th>CHO</th>
								<th>Proteínas</th>
								<th>Lipídios</th>
								<th>HDL</th>
								<th>Fibras</th>
								<th>Ca</th>
								<th>Zn</th>
								<th>Fe</th>
								<th>K</th>
								<th>Na</th>
								<th>A</th>
								<th>C</th>
								<th>Opções</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="produto:${produtos}"
								th:class="${produto.unidadeMedidas}">
								<td th:text="${produto.unidadeMedidas.nome}"></td>
								<td th:text="${produto.nome}"></td>
								<td th:text="${produto.valor}"></td>
								<td th:text="${produto.quantidade}"></td>
								<td th:text="${produto.carboidratos}"></td>
								<td th:text="${produto.proteinas}"></td>
								<td th:text="${produto.lipidios}"></td>
								<td th:text="${produto.colesterol}"></td>
								<td th:text="${produto.fibras}"></td>
								<td th:text="${produto.Ca}"></td>
								<td th:text="${produto.Zn}"></td>
								<td th:text="${produto.Fe}"></td>
								<td th:text="${produto.K}"></td>
								<td th:text="${produto.Na}"></td>
								<td th:text="${produto.A}"></td>
								<td th:text="${produto.C}"></td>
								<td>
									<div th:if="${produto.editavel}">
										
										<!-- Modal Trigger -->
										<a class="btn-icon waves-effect tooltipped modal-trigger"
											href="#modal1"
											th:href="@{/produto/deletar/__${produto.id}__}"
											th:attr="data-tooltip=${'Deletar Produto'}, data-target=${deleteDataTarget}, data-url=${editDataUrl}">
											<i class="material-icons" style="color: red">delete</i>
										</a>
										<a class="btn-icon waves-effect tooltipped"
											th:href="@{/produto/editar/__${produto.id}__}"
											th:attr="data-tooltip=${'Editar Produto'}, data-target=${editDataTarget}, data-url=${editDataUrl}">
											<i class="material-icons color-orange">edit</i>
										</a>
									</div>
									<div th:if="${not produto.editavel}">
										<a class="btn-icon waves-effect tooltipped"
											th:href="@{/produto/editar/__${produto.id}__}"
											th:attr="data-tooltip=${'Editar Produto'}, data-target=${editDataTarget}, data-url=${editDataUrl}">
											<i class="material-icons left color-orange">edit</i>
										</a> <a class="btn-icon tooltipped"
											data-tooltip="Não é possível remover o produto!"> <i
											class="material-icons left" style="color: grey">not_interested</i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="card-action right-align">
						<a class="btn btn-login tooltipped"
							th:href="@{/produto/cadastrar}" data-position="left"
							data-delay="500" data-tooltip="Novo Produto"> NOVO
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Modal excluir seleção -->
	<div id="excluir-selecao" class="modal">
		<div class="modal-content">
			<h4>Excluir produto</h4>
			<p>Tem certeza de que deseja excluir esse produto?</p>
		</div>
		<div class="modal-footer">
			<a id="confirm-excluir" th:href="${removeAtt}"
				class="modal-action waves-effect waves-light btn red">Excluir</a> <a
				href="#!"
				class="modal-action modal-close waves-effect waves-green btn-flat purple-text white">Cancelar</a>
		</div>
	</div>
</section>
</html>
